body {
    margin: 0px;
    overflow: hidden;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    user-select: none;
}
p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#stats {
    position: fixed;
    top: 0;
}
#shield {
  position: absolute;
  top: 100px;
  width: 100vw;
  height: 880px;
  background-color: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(100px);
}
